<!--

    Definitions
    On-Us symbol: "C"
    Transit symbol: ":"

    MICR Codeline Layout
    (http://info.rpp.ricoh-usa.com/help/index.jsp?topic=%2Fcom.ibm.printers.plngcfgguide%2Fav1i0mst105.htm)
    13-32: On-Us Field
    33-43: Transit Field, 33 and 43 are Transit symbols
    44: External Process Control Field (optional)
    45+: Auxillary On-Us Field, bracket value with On-Us symbols (i.e. 45 and end are On-Us symbols)

    positionWidth = 0.125in; 1/8" (APCA Publication 3.3.1 May 2008 pg. 13)
    clearBandHeight = 0.625in; 10/16" (https://www.elfring.com/micr-gauge.htm)
    encodingBandRightMargin = 0.3125in; 5/16" (APCA Publication 3.3.1 May 2008 pg. 14)

-->
<style>
    .micr {
        @positionWidth: 0.125in;
        @clearBandHeight: 0.625in;
        @encodingBandRightMargin: 0.3125in;
        display: table;
        width: 100%;
       .clearBand {
            display: table-cell;
            vertical-align: middle;
            height: @clearBandHeight;
            padding-right: @encodingBandRightMargin;
            .encodingBand {
                position: relative;
                height: 1.2em;
                font-size: 10pt;
                * {
                    position: absolute;
                }
                .auxiliaryOnUs {
                    left: 0;
                    right: 44 * @positionWidth;
                    text-align: right;
                }
                .transitNumber {
                    right: 32 * @positionWidth;
                    width: 11 * @positionWidth;
                }
                .onUs {
                    right: 12 * @positionWidth;
                    width: 20 * @positionWidth;
                }
            }
        }
        // TODO remove after testing
        .clearBand { border: 1px solid green; }
        .encodingBand { border: 1px solid blue; }
        .encodingBand * { border: 1px solid red; }
    }
</style>
<div class="micr">
    <div class="clearBand">
        <div class="encodingBand">
            <span class="auxiliaryOnUs">{{auxiliaryOnUs}}</span>
            <span class="transitNumber">:{{transitNumber}}:</span>
            <span class="onUs">{{onUs}}</span>
        </div>
    </div>
</div>
